TZ=Asia/Seoul
USER_UID=1000
USER_GID=1000
NODE_MAJOR=22
PNPM_VERSION=10.33.0
CODEX_VERSION=0.117.0
CLAUDE_CODE_VERSION=2.1.86
CODE_SERVER_VERSION=4.112.0
UV_VERSION=0.10.3
LAZYGIT_VERSION=0.56.0
ENABLE_SSHD=false
ENABLE_CODE_SERVER=false
ENABLE_TMUX_PLUGIN_BOOTSTRAP=true
CODE_SERVER_PORT=8080
SSH_PORT=2222
CODE_SERVER_AUTH=password
CODE_SERVER_PASSWORD=changeme
